[Unit]
Description=WB / OZON Stock Sync Daemon v2.0
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/app/wb-ozon-sync
ExecStart=/app/wb-ozon-sync/venv/bin/python main.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1
StandardOutput=append:/app/wb-ozon-sync/logs/sys_out.log
StandardError=append:/app/wb-ozon-sync/logs/sys_err.log

[Install]
WantedBy=multi-user.target
